<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <receiver
            android:name=".NotificationScheduleReceiver"
            android:enabled="true"
            android:exported="false"></receiver>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false"></receiver>
    </application>

</manifest>
