<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>

        <receiver
            android:name=".NotificationScheduleReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
